a:hover,
a.active {
    border-bottom: 1px solid var(--main);
}

/* Меню влево, выровненное с названием сайта */
.navbar-middle {
    justify-content: left;
}

.navbar-middle .welcome-title,
.navbar-middle .menu {
    text-align: left;
}